<%- include('partials/header') -%>

<div class="intro">
    <h1 class="login_header">
        <span class="info" style="font-weight: bolder;font-size:larger;">Welcome &nbsp;</span><span class="info" style="font-family: cursive;font-weight: normal;"><%= Name %></span>
    </h1>
</div>
<div id="liveAlertPlaceholder"></div>
<div class="container pt-5 pb-5" >

<div class="row">
    <div class="col-6">
        <h1>Welcome <span style="font-family: cursive;font-weight: normal;font-size:26px;"><%= Name %></span></h1>
    </div>
   
    <div class="col-6 d-flex justify-content-end">
        <a href="/adduser" type="button" class="btn btn-primary align-self-center">+ Add User</a>
    </div>
    <div></div>
    <div class=" d-flex justify-content-end">
        <label for="status">Employee Status &nbsp; </label>
    <select class="align-self-center" name="status" id="status">
        <option value="Active">Active</option>
        <option value="Deactivate">Deactivate</option>
    </select>
    
    </div>
</div>
<br> 

<div class="table-responsive">
    <table class="table table-hover">
        <thead class="tahead-dark">
            <tr class="table-dark">
                <th scope="col">Emp_ID</th>
                <th scope="col">Employee Name</th>
                <th scope="col">Employee Email</th>
                <th scope='col'>Employee Phone Number</th>
                <th scope='col'>Role</th>
                <th scope='col'>Reporting Manager</th>
                <th scope="col" class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((data)=>{ %>

        
         
            <tr>
                <th scope="row"><%=data.emp_id   %></th>
                <td ><%= data.emp_name %></td>
                <td><%= data.emp_email %></td>
                <td><%=data.phone_no_1 %></td>
                <td>
                    <%=data.role_name %>
                </td>
                <td>
                    <%=data.reporting_manager_name %>
                </td>
                <td  class="text-end">
        
                    <a href="adduseredit?id=<%= data.emp_id %>"  type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> </a>
                    <a href="delete/<%= data.emp_id %>"  type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> </a>
                </td>
            </tr>
         
           <%    }) %>
        </tbody>
    </table>
    </div>
</div>






<script src="/js/homeintro.js"></script>

<script src="/js/filter.js"></script>


<%- include('partials/footer') -%>